
<div class="col-lg-4 col-centered b3-w ">
    <img src="assets/images/logo.png" class="img-responsive center-block" alt="Wisi" title="Wisi"/>
</div>
<div class="col-lg-4 col-centered b3-w chat">
    <h2>Chat de ayuda</h2>
    <div class="control-group">
        <textarea class="form-control chatagua b3-w chatarea" rows="8">Buenos días en que podemos ayudarte?</textarea>
    </div>
    <div class="control-group">
        <textarea class="form-control b3-w chatarea" rows="8" placeholder="Escriba su mensaje aquí"></textarea>
    </div>
    <button class="btn sendbtn b3-w">Enviar</button>
</div>

