
<div class="col-lg-4 col-centered b3-w ">
    <img src="assets/images/logo.png" class="img-responsive center-block" alt="Wisi" title="Wisi"/>
</div>
<div class="col-lg-4 col-centered b3-w terms">
    <h2>Terminos y condiciones</h2>
    <p>Proin elit nunc, congue ac congue non, gravida nec sem. Sed purus enim, suscipit sit amet auctor vitae, viverra non ante. Nam facilisis aliquam magna in imperdiet. Aliquam aliquam turpis leo, eu vehicula erat cursus id. Aenean eu arcu eget nisi interdum iaculis id a eros. Curabitur sollicitudin sed dui vitae molestie. Morbi eleifend sem purus, eget accumsan velit cursus id. Fusce auctor est et tortor mattis porta. Vivamus mauris leo, tincidunt fermentum quam vitae, feugiat mattis purus. Donec purus lacus, ullamcorper sed lectus hendrerit, tempus convallis urna. Sed suscipit euismod hendrerit. Maecenas tristique consequat mauris vitae cursus. Maecenas dignissim, ligula et aliquet dignissim, ipsum arcu tempus tellus, consectetur luctus arcu turpis et arcu. Aliquam dignissim risus eu nisl fermentum pretium.</p>
    <a href="#/" class="btn sendbtn b3-w" >Aceptar</a>

</div>
